@import '@/style/globals_variant.scss';

.main {
  // background-color: rgb(0, 0, 0, 0.25);
  position: fixed;
  right: 20px;
  top: 10px;
  animation: slideIn 0.8s ease;
  z-index: 500;
}

.mainOut {
  position: fixed;
  right: 20px;
  top: 10px;
  animation: slideOut 0.8s ease;
  z-index: 500;
}

/* 오른쪽에서 왼쪽으로 슬라이드하여 나타나는 애니메이션 */
@keyframes slideIn {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0);
  }
}

/* 왼쪽에서 오른쪽으로 슬라이드하여 사라지는 애니메이션 */
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120%);
  }
}

.box {
  background-color: white;
  box-shadow: 0 2 9 0 rgb(0, 0, 0, 0.25);
}

.title {
  font-size: 20px;
  font-weight: 700;

  span {
    display: flex;
    width: 250px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: $blue-logo;
    border-radius: 10px;
    color: white;
  }
}

.table {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 600px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.head {
  background-color: $blue-msg;
  color: white;
  .down {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
  }

  span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      top: 15%;
      left: 0; /* 시작 위치 */
      height: 70%; /* 선 길이 */
      width: 1px;
      background-color: $tab-bg;
    }

    &:first-child {
      &::after {
        content: '';
        display: none;
      }
    }
  }
}

.body {
  border: 1.5px solid $blue-msg;
  &:hover {
    background-color: $blue-base;
  }
  span {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      top: 15%;
      left: 0; /* 시작 위치 */
      height: 70%; /* 선 길이 */
      width: 2px;
      background-color: $tab-bg;
    }

    &:first-child {
      &::after {
        content: '';
        display: none;
      }
    }
  }
}
