@import '@/style/globals_variant.scss';

.main {
  width: calc((100vw - 72px) * 66 / 100);
  height: calc(100vh - 118px);

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 48px);
  }
}

.graph {
  height: calc((100% - 24px) / 2);
}
