@import '@/style/globals_variant.scss';

.main {
  width: calc((100% - 24px) / 2);
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2 5 0 rgb(0, 0, 0, 0.25);

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 500px;
  }
}

.title {
  font-weight: 700;
}
