@import '../../style/globals_variant.scss';

.main {
  background-color: $sidebar-bg;
}

.menuBtn {
  color: $blue-btn;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:hover {
    color: $blue-logo;
  }
}
