@import '@/style/globals_variant.scss';

.main {
  background-color: $blue-base;

  &:hover {
    background-color: #c9e1ff;
    transform: scale(0.99);
    transition: transform 0.3s linear;
  }
}

.clientId {
  font-size: 14px;
  font-weight: 700;
  color: $blue-btn;

  .clientIdNumber {
    color: black;
  }
}

.clientName {
  font-size: 24px;
  font-weight: 700;
  margin-top: -5px;
}

.tag {
  width: 100%;
  font-weight: 700;
  color: white;
  span {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
}

.usage {
  background-color: $blue-btn;
}

.week {
  background-color: $admin_mint;
}
