@import '@/style/globals_variant.scss';

.main {
  width: calc((100vw - 72px) * 34 / 100);
  height: calc(100vh - 118px);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2 5 0 rgb(0, 0, 0, 0.25);

  @media screen and (max-width: 1024px) {
    width: 450px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.title {
  font-weight: 700;
}

.search {
  color: $blue-btn;
}

.items {
  &::-webkit-scrollbar {
    display: none;
  }
}
