@import '../../style/globals_variant.scss';

.tab {
  margin-top: auto;
  display: flex;
  width: 250px;
  height: 42px;
  border: 1px solid white;
  border-radius: 12px 12px 0 0;
  border-bottom: none;
  position: relative;
  background-color: white;
  box-sizing: border-box;
  align-items: center;
  gap: 7px;

  p {
    font-size: 1.25rem;
    height: 32px;
  }
}

.active {
  background-color: $tab-bg;
}

// .tab::before {
//   width: 5px;
//   height: 40px;
//   content: ' ';
//   transform: translateX(calc(-100% + 4px));
//   position: absolute;
//   background-color: transparent;
//   bottom: 0px;
//   border-bottom: 1px solid white;
//   border-top-left-radius: 8px;
//   border-bottom-right-radius: 8px;
// }

// .tab::after {
//   width: 5px;
//   height: 40px;
//   content: ' ';
//   background-color: transparent;
//   transform: translateX(calc(5000% - 4px));
//   position: absolute;
//   bottom: 0px;
//   border-bottom: 1px solid white;
//   border-top-right-radius: 8px;
//   border-bottom-left-radius: 8px;
// }
