@import '@/style/globals_variant.scss';

.msgList {
  flex: 1 0 0;
  overflow-y: auto;
  height: 100%; // 높이가 설정되지 않으면 스크롤이 작동하지 않을 수 있습니다.
  padding-right: 20px; // 스크롤바와 메시지 사이의 여백
  padding-left: 10px;

  // 스크롤 바 전체
  &::-webkit-scrollbar {
    width: 8px; // 스크롤 바 너비
  }

  // 스크롤 바 트랙
  &::-webkit-scrollbar-track {
    background-color: $gray-msg; // 트랙 배경색
    opacity: 0.7;
    border-radius: 10px; // 트랙 모서리 둥글게
  }

  // 스크롤 바 핸들
  &::-webkit-scrollbar-thumb {
    background-color: darken($gray-msg, 10%); // 핸들 색상
    border-radius: 10px; // 핸들 모서리 둥글게
  }

  // 스크롤 바 핸들 호버 시
  &::-webkit-scrollbar-thumb:hover {
    background-color: darken($gray-msg, 20%); // 핸들 호버 시 더 진한 색상
  }
}
