@import '@/style/globals_variant.scss';

.container {
  width: 100%;
  margin: 0 auto;
  min-height: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
  border: 1px solid #e8eaed;
  border-radius: 10px;
  font-size: 1.25rem;
}
.alarm {
  font-size: 1rem;
  color: #0d99ff;
}
.read {
  color: $placeholder;
}
.close {
  width: 24px;
  height: 24px;
  color: #0d99ff;
}
